# Core
streamlit
numpy
pandas
pyyaml
pillow
tqdm
matplotlib

# Computer vision (Streamlit-safe)
opencv-python-headless

# Deep learning
torch
torchvision

# YOLOv12 (GitHub install)
git+https://github.com/sunsmarterjie/yolov12.git
